// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Rockchip Electronics Co., Ltd.
 *
 */

/*
 * csi2_dphy0 -> csi0(rx0) clk0 + 4 lane
 * csi2_dphy1 -> csi0(rx0) clk0 + 2 lane 0/1
 * csi2_dphy2 -> csi0(rx0) clk1 + 2 lane 2/3
 * csi2_dphy3 -> csi1(rx1) clk0 + 4 lane
 * csi2_dphy4 -> csi1(rx1) clk0 + 2 lane 0/1
 * csi2_dphy5 -> csi1(rx1) clk1 + 2 lane 2/3
 */

/ {
	cam_ircut1: cam_ircut1 {
		status = "okay";
		compatible = "rockchip,ircut";
		// led-gpios = <&gpio4 RK_PA1 GPIO_ACTIVE_LOW>;
		// ircut-open-gpios = <&gpio4 RK_PC6 GPIO_ACTIVE_HIGH>;
		// ircut-close-gpios  = <&gpio4 RK_PC7 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
	};

	out_osc_1: out-osc-1 {
		compatible = "fixed-clock";
		clock-output-names = "out-osc-1";
		clock-frequency = <37125000>;
		#clock-cells = <0>;
	};

	out_osc_mia1321_1: out-osc-mia1321-1 {
		compatible = "fixed-clock";
		clock-output-names = "out-osc-mia1321-1";
		clock-frequency = <26000000>;
		#clock-cells = <0>;
	};
};

&csi2_dphy3 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi_dphy3_input0: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&imx415_1_out>;
				data-lanes = <1 2 3 4>;
			};

			csi_dphy3_input1: endpoint@2 {
				reg = <2>;
				remote-endpoint = <&mia1321_1_out>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy3_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi2_csi2_input>;
			};
		};
	};
};

&i2c3 {
	status = "okay";
	pinctrl-0 = <&i2c3m1_pins>;

	imx415_1: imx415_1@37 {
		compatible = "sony,imx415";
		reg = <0x37>;
		clocks = <&out_osc_1>;
		clock-names = "xvclk";
		reset-gpios = <&gpio4 RK_PB1 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&cam_1_reset_gpio>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "default";
		rockchip,camera-module-lens-name = "default";
		lens-focus = <&cam_ircut1>;
		port {
			imx415_1_out: endpoint {
				remote-endpoint = <&csi_dphy3_input0>;
				data-lanes = <1 2 3 4>;
			};
		};
	};

	mia1321_1: mia1321_1@60 {
		compatible = "imagedesign,mia1321";
		reg = <0x60>;
		clocks = <&out_osc_mia1321_1>;
		clock-names = "xvclk";
		reset-gpios = <&gpio4 RK_PB1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&cam_1_reset_gpio>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "default";
		rockchip,camera-module-lens-name = "default";
		port {
				mia1321_1_out: endpoint {
					remote-endpoint = <&csi_dphy3_input1>;
					data-lanes = <1 2>;
				};
		};
	};
};

&pinctrl {
	cam_1 {
		cam_1_reset_gpio: cam-1-reset-gpio {
			rockchip,pins = <4 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&mipi2_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi2_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy3_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi2_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in2>;
			};
		};
	};
};

&rkcif {
	status = "okay";
};

&rkcif_mipi_lvds2 {
	status = "okay";

	port {
		cif_mipi_in2: endpoint {
			remote-endpoint = <&mipi2_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds2_sditf {
	status = "okay";

	port {
		mipi_lvds2_sditf: endpoint {
			remote-endpoint = <&isp_vir1>;
		};
	};
};

&rkcif_mmu {
	status = "okay";
};

&rkisp {
	status = "okay";
};

&rkisp_mmu {
	status = "okay";
};

&rkisp_vir1 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp_vir1: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi_lvds2_sditf>;
		};
	};
};

&rkisp_vir1_sditf {
	status = "okay";
};

&rkvpss {
	status = "okay";
	dvbm = <&rkdvbm>;
};

&rkvpss_mmu {
	status = "okay";
};

&rkvpss_vir1 {
	status = "okay";
};
