Package: linux-image-6.1.141
Source: linux-upstream
Version: 6.1.141-5
Architecture: arm64
Maintainer: root <root@aura>
Installed-Size: 52518
Section: kernel
Priority: optional
Homepage: https://www.kernel.org/
Description: Linux kernel, version 6.1.141
 This package contains the Linux kernel, modules and corresponding other
 files, version: 6.1.141.
