// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2025 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;
#include "rv1126b.dtsi"
#include "rv1126b-aoa.dtsi"
#include "rv1126b-luckfox-aura.dtsi"
#include "rv1126b-luckfox-aura-dsi.dtsi"
#include "rv1126b-luckfox-aura-cam-csi0.dtsi"
//#include "rv1126b-luckfox-aura-cam-csi1.dtsi"
//#include "rv1126b-luckfox-aura-dual-cam.dtsi"

/ {
	model = "Luckfox Aura";
	compatible = "rockchip,rv1126b-evb1-v11", "rockchip,rv1126b";

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0x20810000 console=ttyFIQ0 rw root=PARTUUID=614e0000-0000 rootfstype=ext4 rootwait snd_soc_core.prealloc_buffer_size_kbytes=16 coherent_pool=32K";
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_enable_h &pcm_out>;
		post-power-on-delay-ms = <200>;
		reset-gpios = <&gpio3 RK_PB6 GPIO_ACTIVE_LOW>;
	};

	wireless-bluetooth {
		compatible = "bluetooth-platdata";
		uart_rts_gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart2m0_rtsn_pins &bt_poweren_gpio>;
		pinctrl-1 = <&uart2_gpios &bt_poweren_gpio>;
		BT,wake_gpio     = <&gpio0 RK_PB0 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio0 RK_PB1 GPIO_ACTIVE_HIGH>;
		//BT,power_gpio     = <&gpio3 RK_PB7 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_wake_host>;
		WIFI,host_wake_irq = <&gpio0 RK_PA7 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

/**********MEDIA**********/
&emmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	non-removable;
	//mmc-hs200-1_8v;
	rockchip,default-sample-phase = <90>;
	no-sdio;
	no-sd;
	status = "okay";
};

&fspi0 {
	status = "disabled";

	flash@0 {
		status = "disabled";
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <75000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

&spi0 {
	status = "okay";
	max-freq = <50000000>;

	spidev@0 {
		compatible = "rockchip,spidev";
		reg = <0>;
		spi-max-frequency = <5000000>;
	};
};

&spi1 {
	status = "okay";
	max-freq = <50000000>;

	spidev@0 {
		compatible = "rockchip,spidev";
		reg = <0>;
		spi-max-frequency = <5000000>;
	};
};

/**********SDMMC**********/
&sdmmc0 {
	max-frequency = <52000000>;
	no-sdio;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	vmmc-supply = <&vcc_sd>;
	vqmmc-supply = <&vccio_sd>;
	pinctrl-names = "default";

	pinctrl-0 = <&sdmmc0_clk_pins &sdmmc0_cmd_pins &sdmmc0_detn_pins &sdmmc0_bus4_pins &sdmmc0_pwren>;
	status = "okay";
};

&pinctrl {
	sdmmc0 {
		sdmmc0_pwren: sdmmc0-pwren {
			rockchip,pins = <0 RK_PB2 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};
};

/**********WiFi / BT**********/
&sdmmc1 {
	bus-width = <4>;

	cap-sd-highspeed;
	supports-highspeed;
	cap-sdio-irq;

	no-sd;
	no-mmc;
	max-frequency = <150000000>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc1_clk_pins &sdmmc1_cmd_pins &sdmmc1_bus4_pins>;
	disable-wp;

	keep-power-in-suspend;
	non-removable;

	mmc-pwrseq = <&sdio_pwrseq>;
	sd-uhs-sdr104;
	status = "okay";
};

&uart2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart2m0_xfer_pins &uart2m0_ctsn_pins>;
};

/**********PINCTRL**********/
&pinctrl {
	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <3 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		pcm_out: pcm-out {
			rockchip,pins = <3 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	wireless-bluetooth {
		uart2_gpios: uart2-gpios {
			rockchip,pins = <3 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		bt_poweren_gpio: bt-poweren-gpio {
			rockchip,pins = <3 RK_PB7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	wireless-wlan {
		wifi_wake_host: wifi-wake-host {
			rockchip,pins = <0 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
